{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Source+Sans+Pro&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/joo.css' %}">
    <title>Bookr</title>
</head>

<body>

  <header>
     <div class="logo">
         <img src="{% static 'Vector.png'%}">
     </div>

     <nav>
       <ul >
           <li>
               <button type="button" class="btn btn-outline-secondary rounded" style="margin-right: 10px"><a style="color: black; margin: 0">Казакша</a></button>
           </li>
           <li>
               <button type="button" class="btn  rounded" style="background-color: #fa5e37; margin-left: 10px" ><a style="color: white; margin: 0" href="{% url 'login' %}">Войти</a></button>
           </li>
       </ul>
     </nav>
     </header>

  <img src="https://thumb.tildacdn.com/tild6234-6561-4936-b232-316366363132/-/format/webp/86ec5a90b872f08df6ed.png" alt="sorry" style="width: 500px; height: 500px; margin-left: 500px">
{% block content %}
    <h1>Welcome to Joo!</h1>
{% endblock %}

  <footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2023 Copyright:
      <a href="https://www.packtpub.com"> Daniyar</a>
      <p>Website by: DonerLong</p>
    </div>
  </footer>
</body>
</html>